html {
  font-size: 22px;
}

body {
  background-color: #d4c59c;
  color: #b2713d;
}
list {
  list-style: armenian;
}

table {
  text-align: center;
}

a {
  color: hwb(44 78% 13%);
}

a:visited {
  color: #7a624e;
}

a:hover,
a:active {
  color: #9d5b25;
}

table,
tr,
th,
td,
caption {
  border: 2px solid #7a624e;
  font-family: "Courier New", "Courier New", Courier, monospace;
  border-collapse: collapse;
}
